/* Général */

section {
    text-align: center;
}

/* Nav barre sur tout le site */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* fon-arrière */
html {
  height:100%;
  background-image: linear-gradient(to right, green 0%, grey 100%);
}
/* menu */
nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: black;
  color: white;
}



/* scroll snap */

/*  html ne doit pas avoir de scroll
    le body fait 100% de la hauteur de la zone d'affichage (viewport) et scroll verticalement
*/

html {
    height: 100vh;
    overflow: hidden;
}

/*  body doit avoir le scroll-snap-type car il est parent des sections et du header
    le body fait 100% de la hauteur de la zone d'affichage (viewport) et scroll verticalement
*/

body {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

/* Section et header */

/* Les éléments enfant de body avec cette classe vont servir de zone de snap */

.snap-start {
    scroll-snap-align: start;
}


/* Barre de chargement des compétences */

.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color:orangered;
}
@keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 100%
    }
}

@-webkit-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 100%}
    }
@-moz-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 100%}
    }
@-o-keyframes Animate-HTML {
    from {
        width: 10px;
    }
    to {
        width: 100%}
    }

#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color:rgb(0, 129, 250);
}

@keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 70%}
    }
@-webkit-keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 70%
    }
}

@-moz-keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 70%}
    }
@-o-keyframes Animate-CSS {
    from {
        width: 10px;
    }
    to {
        width: 70%
    }
}

#Skill-javascript {
    animation: Animate-javascript 4s;
    -webkit-animation: Animate-javascript 4s;
    -moz-animation: Animate-javascript 4s;
    -o-animation: Animate-javascript 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color:rgb(245, 245, 27);
}

@keyframes Animate-javascript {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }
}

@-webkit-keyframes Animate-javascript {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }
}
@-moz-keyframes Animate-javascript {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }
}

@-o-keyframes Animate-javascript {
    from {
        width: 10px;
    }
    to {
        width: 40%
    }

}
#Skill-coréen {
    animation: Animate-coréen 4s;
    -webkit-animation: Animate-coréen 4s;
    -moz-animation: Animate-coréen 4s;
    -o-animation: Animate-coréen 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: rgb(223, 56, 56);
}
@keyframes Animate-coréen {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-coréen {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-coréen {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-coréen {
    from {
    width: 10px;
}
to {
    width: 40%}
}

#Skill-espagnol {
    animation: Animate-espagnol 4s;
    -webkit-animation: Animate-espagnol 4s;
    -moz-animation: Animate-espagnol 4s;
    -o-animation: Animate-espagnol 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: rgb(245, 191, 16);
}
@keyframes Animate-espagnol {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-espagnol {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-espagnol {
    from {
        width: 10px;
    }
    to {
        width: 80%
    }
}
@-o-keyframes Animate-espagnol {
    from {
     width: 10px;
    }
    to {
        width: 80%
    }
}

#Skill-PHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: rgb(175, 49, 175);
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 30%}
}
#Skill-anglais {
    animation: Animate-anglais 4s;
    -webkit-animation: Animate-anglais 4s;
    -moz-animation: Animate-anglais 4s;
    -o-animation: Animate-anglais 4s;
    width: 70%;
    background-color: rgb(0, 255, 170);

    height: 50px;
    position: absolute;
}
@keyframes Animate-anglais {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-anglais {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-anglais {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-anglais {
    from {
    width: 10px;
}
to {
    width: 70%}
}


.Skill-Area {
    z-index: 1;
    float: left;
    /* position: absolute; */
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    /* font-family: Lato-Regular, sans-serif; */
    font-size: 18px;
}

.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    /* font-family: Lato-Regular, sans-serif; */
    font-size: 18px;
}

/* Mot Bienvenue de la page d'accueil */

@font-face {
	font-family:'Decovar Regular24'; 
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Decovar-VF.ttf');
}

#motbienvenue {
    margin: 0;
    margin-top: 5%;
	font-size: 20vw;
	position: relative;
	font-weight: 400;
	font-family: "Decovar Regular24"; 
	font-variation-settings: 'INLN' 400, 'SWRM' 1000;

	
	
	text-shadow: 2px 2px 5px rgba(#2a4308, 0.4);
	animation: grow 3s linear infinite alternate;
	
    font-variation-settings: 'INLN' 0;
}

@keyframes grow {
	0% {
		font-variation-settings: 'INLN' 400, 'SWRM' 1000;
	}
	
	100% {
		font-variation-settings: 'INLN' 400, 'SWRM' 0;
	}
}

#motbienvenue {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	letter-spacing: 0.6rem;
   
}

#motbienvenue:after, #motbienvenue:before {

		content: attr(data-text);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		z-index: -1;
		position: absolute;
		left: 0;
		top: 0;
}

/* Bordures et boutons de la page d'accueil */
.bttn {
    max-height: 90% ;
    font-size: 130px;
    border: groove;
    border-color: grey;
    background-color: transparent;
    box-sizing: 22%;
}

.border {
    border: groove;
    border-color: grey;
    font-size: 100px;
    margin-top: 28%;
}
 /* Emplacement du bas de page */
footer {
    margin-top: 28%;
    text-align: center;
}

/* Taille des paragraphes */
p {font-size: 162%;}

/* Boutons de la page mes services */
.bttnm {
    width: 100%;
    height: 90% ;
    font-size: 130px;
    margin-bottom: 12%;
    border: groove;
    border-color: grey;
    background-color: transparent;
    box-sizing: 22%;
}

/* Slider */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
  }
  
  .slider {
      display: none;
      height: 50vh;
  }
  .slider img {
    max-height: 100%;
  }
  .slider.active {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade 0.8s;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .cont-btn {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
  }

  
     #precedent,  #suivant {
        cursor: pointer;
        transition: opacity 0.3s ease;
        opacity: 0;
        position: absolute;
        font-size: 100px;
        color: rgba(220, 220, 220, 0.8);
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px;
    }
    
    #precedent {
        left: 0;
    }
    
    #suivant {
        right: 0;
    }
    
    #slider:hover #precedent,
    #slider:hover #suivant {
        opacity: 1;
    }
  }

  /* Autres css */
footer {
    background-color: green
}

